extends layout

block content
	script
		include js/addGoal.js
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Leadership as an Artform
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link(href='/executiveView') Home
				li
					a.nav-link.nav-item(href='/executiveProfile') Profile
				li
					a.nav-link.nav-item(href='/coachProfile_executive') Coach's Profile
				li
					a.nav-item.nav-link.active(href='/addGoal_executive') Add Goal
				li
					a.nav-item.nav-link#signOut(href='/') Sign Out
	form(method='POST', action='/viewGoal')
		div.jumbotron
			h3 Frequency Reminder
			div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
				div.card-body
					form
						input(type='radio', name='frequency', value='daily', checked='')
						|  Daily
						br
						input(type='radio', name='frequency', value='weekly')
						|  Weekly
						br
						input(type='radio', name='frequency', value='biweekly')
						|  Bi-Weekly
						br
						input(type='radio', name='frequency', value='monthly')
						|  Monthly
			div.jumbotron#questionJumbotron
				h3 Add Questions
				div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
					div.card-body#questionCard
						//h5 Type of Question
						//form
							//input(type='radio', name='gender', value='male', id='mcButton', onclick='mcDropdown()')
						//	|  Multiple Choice
						//	br
						//	input(type='radio', name='gender', value='female', id='freeResponseButton', onclick='freeResponseDropdown()')
						//	|  Free Response
						//	br
						//	input(type='radio', name='gender', value='other', id='likertButton', onclick='likertDropdown()')
						//	|  Likert Scale
					div.jumbotron#questionDropdown(style="display:none")
					div.card-footer
						h4 Choose Question Type:
						input(class='btn btn-secondary btn-sm' type='button', value='Multiple Choice', onclick='mcDropdown()')
						input(class='btn btn-secondary btn-sm' type='button', value='Free Response', onclick='freeResponseDropdown()')
						input(class='btn btn-secondary btn-sm' type='button' value='Likert Scale' onclick='likertDropdown()')
			input.btn.btn-outline-primary.btn-lg(type="submit", value="Add Goal" id="addGoalButton")
