extends layout

block content
	script
		include js/addGoal.js
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Art of Leadership
		button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
			span(class="navbar-toggler-icon")
		div.collapse.navbar-collapse(id="navbarSupportedContent")
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link(href='/executiveView') Home
				li
					a.nav-link.nav-item(href='/executiveProfile') Profile
				li
					a.nav-link.nav-item(href='/coachProfile_executive') Coach's Profile
				li
					a.nav-item.nav-link.active(href='/addGoal_executive') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out

	form(method='POST', action='/editGoal_executive', id="goalForm")
			input(type="hidden" name="addingGoal" value="addingGoal")
			div.jumbotron
				h3 Goal Title
				input(type='text', name='goalTitle' required)
			div.jumbotron
				h3 Goal Description
				input(type='text', name='goalDescription' size='150' required)
				input(type='hidden', name='goalProgress' value=0)
			div.jumbotron
				h3 Frequency Reminder
				div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
					div.card-body
						form
							input(type='radio', name='frequency', value='4', checked='')
							|  None
							br
							input(type='radio', name='frequency', value='0')
							|  Daily
							br
							input(type='radio', name='frequency', value='1')
							|  Weekly
							br
							input(type='radio', name='frequency', value='2')
							|  Bi-Weekly
							br
							input(type='radio', name='frequency', value='3')
							|  Monthly
				div.jumbotron#questionJumbotron
					h3 Add Questions
					div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
						div.card-body#questionCard
							| Choose Question Type
						div.jumbotron#questionDropdown(style="display:none")
						div.card-footer
							input(class='btn btn-secondary btn-sm' type='button', value='Multiple Choice', onclick='mcDropdown()')
							input(class='btn btn-secondary btn-sm' type='button', value='Free Response', onclick='freeResponseDropdown()')
							input(class='btn btn-secondary btn-sm' type='button' value='Likert Scale' onclick='likertDropdown()')
				input.btn.btn-outline-primary.btn-lg(type="button", value="Add Goal" id="addGoalButton", onclick="checkGoal()")
