extends layout

block content
	script
		include js/addGoal.js
	script.
	head
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/addGoal.css')
	body.subpage
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header
			.logo
					a(href='/') Art of Leadership
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/executiveView') Home
				li
					a(href='/executiveProfile') Profile
				li
					a(href='/addGoal_executive') Goal
				li
					a(href='/coachProfile_executive') Coach
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Goal

	form(method='POST', action='/editGoal_executive', id="goalForm")
			input(type="hidden" name="addingGoal" value="addingGoal")
			div.container#main
				.row(class='200%')
					.6u(class='12u$(medium)')
						h2 Set Reminder
						div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
							div
								form
									input(type='radio', name='frequency', value='4', checked='')
									|  None
									br
									input(type='radio', name='frequency', value='0')
									|  Daily
									br
									input(type='radio', name='frequency', value='1')
									|  Weekly
									br
									input(type='radio', name='frequency', value='2')
									|  Bi-Weekly
									br
									input(type='radio', name='frequency', value='3')
									|  Monthly
					.6u(class='12u$(medium)')
						h2.goalChoiceSelected2 Creat a New Goal
						div.fullDiv
							div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
								div.subTitle
									| Goal Title
									input(type='text', name='goalTitle')
								div.subTitle
									| Goal Description
									input(type='text', name='goalDescription' size='125')
							br
					div.fullDiv
						h2.questionSheetTitle Questions Sheet
						div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
							div.card-body#questionCard
							div.jumbotron#questionDropdown(style="display:none")
							div.card-footer
								div.subTitle Add Question
								input(class='btn btn-secondary btn-sm' type='button', value='Multiple Choice', onclick='mcDropdown()')
								input(class='btn btn-secondary btn-sm' type='button', value='Free Response', onclick='freeResponseDropdown()')
								input(class='btn btn-secondary btn-sm' type='button' value='Likert Scale' onclick='likertDropdown()')
						br
						br
						input.button.special.submitButton(type="button", value="Add Goal" id="addGoalButton", onclick="checkGoal()")
