extends layout

block content
	h1=title
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			a.navbar-brand(href='/') Leadership as an Artform
			div.collapse.navbar-collapse#navbarColor02
				ul.navbar-nav.ml-auto
					li
						a.nav-link.nav-item.active(href='coachProfile') View Profile
					li
						a.nav-item.nav-link(href='/coachView') Back to Home
					li
						a.nav-item.nav-link(href='addGoal', data-toggle="modal", data-target="#addGoalModal") Add Goal
			.modal(role="dialog", id="addGoalModal")
				.modal-dialog-centered.custom_modal_dialog(role="document")
					.modal-content
						.modal-header
							h5 Add A Goal
							button(class="close",data-dismiss="modal")
								span &times;
						.modal-body
							p Goal Title:
								input(type="text")
							p Target Executive:
								input(type="text")
							p Goal Description:
								br
								textarea
						.modal-footer
							button(data-dismiss="modal").btn.btn-primary Submit
		div.row
			div.col-md-1
			div.col-md-2
				img#profileImage(src='https://cdn.andnowuknow.com/headshots/justin_hs.jpg?FbYA5K4Z7KhFKzBY6aSjRSpIxGvzFshe')
			div.col-md-1
			div.col-md-6
				br
				h1 Name
				h3 Tennessee Kids
				h5 Biography information; what the executive is working toward
			div.col-md-1
			br
	
