extends layout

block content
	h1=title
		nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
			a.navbar-brand(href='index') Leadership as an Artform
			div.collapse.navbar-collapse#navbarColor02
				ul.navbar-nav.ml-auto
					li.nav-item.active View Profile
						a.nav-link(href='executiveProfile')
					li.nav-item View Coach's Profile
						a.nav-link(href='#')
					li.nav-item Add Goal
						a.nav-link(href='addGoal')
		div.row
			div.col-md-2
			div.col-md-2
				img#profileImage(src='https://cdn.andnowuknow.com/headshots/justin_hs.jpg?FbYA5K4Z7KhFKzBY6aSjRSpIxGvzFshe')
			div.col-md-6
				br
				h1 Name
				h3 Tennessee Kids
				h5 Biography information; what the executive is working toward
			div.col-md-2
			br
	div.row
		h1 Clients
	div.row.jumbotron
		div.col
		div.col-md-2
			img#clientImage(src='https://vignette.wikia.nocookie.net/pixar/images/3/38/Mike1.png/revision/latest?cb=20170807223616')
		div.col-md-2
			h3 Name
			h5 Monsters Inc Co 
			h6 Biography info
		div.col
		div.col-md-2
			img#clientImage(src='https://vignette.wikia.nocookie.net/pixar/images/3/38/Mike1.png/revision/latest?cb=20170807223616')
		div.col-md-2
			h3 Name
			h5 Monsters Inc Co 
			h6 Biography info
		div.col
	div.row.jumbotron
		div.col
		div.col-md-2
			img#clientImage(src='https://vignette.wikia.nocookie.net/pixar/images/3/38/Mike1.png/revision/latest?cb=20170807223616')
		div.col-md-2
			h3 Name
			h5 Monsters Inc Co 
			h6 Biography info
		div.col
		div.col-md-2
			img#clientImage(src='https://vignette.wikia.nocookie.net/pixar/images/3/38/Mike1.png/revision/latest?cb=20170807223616')
		div.col-md-2
			h3 Name
			h5 Monsters Inc Co 
			h6 Biography info
		div.col