extends layout

block content
	include mixins/print_goal.pug
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Leadership as an Artform
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link.active(href='/executiveView') Home
				li
					a.nav-link.nav-item(href='/executiveProfile') Profile
				li
					a.nav-link.nav-item(href='/coachProfile_executive') Coach's Profile
				li
					a.nav-item.nav-link(href='/addGoal_executive') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	.row
		h2(style="padding:15px") Hello, #{user.name}
	.col-lg-4
	- var today = new Date()
	- var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
	- var todayDateFormat = today.toLocaleDateString("en-US", options)
	- var alreadyMessaged = "false"
	if user.exec_goals.length != 0
		each goal in user.exec_goals
			- var goalDateFormat = goal.goal_date.toLocaleDateString("en-US", options)
			if goalDateFormat == todayDateFormat && alreadyMessaged == "false"
				- alreadyMessaged = true
				br
				.alert.alert-dismissible.alert-success
					h5.text-success(style="text-align:center") You have a new goal

	div.jumbotron
		h3 Messages from coach:
		br
		div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
			form(method='POST' action='/executiveView')
				div.card-header Delete message
					button(style="float: right" classe-"btn btn-danger" type="submit") X
				div.card-body
					if user.coach_message.length == 0
						h4.text-danger(style="text-align:center") No current messages
					else
						p #{user.coach_message}
				input(type="hidden" name="deleteMessage" value="deleteMessage")
	div.jumbotron
		h3 Current Goals
		if user.exec_goals.length == 0
			h4.text-danger(style="text-align:center") There are no current goals
		else
			each goal in user.exec_goals
				if goal.goal_progress < 100
					+print_goal(goal)
