extends layout

block content
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Leadership as an Artform
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link.active(href='/coachView') Home
				li
					a.nav-link.nav-item(href='/coachProfile_coach') Profile
				li
					a.nav-item.nav-link(href='/addGoal_coach') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	div.row
		div.col-md-1
		div.col-md-2
			img#profileImage(src='#{user.photograph}')
		div.col-md-1
		div.col-md-6
			br
			h1 #{user.name}
			h6 #{user.username}
			p #{user.bio_info}
		div.col-md-2


		br
	div.row
		div.col-md-4
		div.col-md-4
			form(method='POST' action='/')
				input(type="hidden" name="viewNotes" value="viewNotes")
				button.btn-btn-block.btn-sm.btn-info(type='submit') View Notes

	div.jumbotron
		h3 Current Goals
		div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
			div.card-header Due Date/Assigned Date
			div.card-body
				h4 Goal Name
				p Description of goal
			div.progress
				div.progress-bar.bg-warning(role='progressbar' style='width:5%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
		br
		div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
			div.card-header Due Date/Assigned Date
			div.card-body
				h4 Goal Name
				p Description of goal
			div.progress
				div.progress-bar.bg-warning(role='progressbar' style='width:25%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')

	div.jumbotron
		h3 Past Goals
		div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
			div.card-header Date Completed
			div.card-body
				h4 Goal Name
				p Description of goal
			div.progress
				div.progress-bar.bg-success(role='progressbar' style='width:100%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
		div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
			div.card-header Date Completed
			div.card-body
				h4 Goal Name
				p Description of goal
			div.progress
				div.progress-bar.bg-success(role='progressbar' style='width:100%' aria-valuenow='25' aria-valuemin='0' aria-valuemax='100')
