extends layout

block content
  h1= title
  p Here will be the description that Dr. Bresnahan provides us with.
  br
  br
  div.topbar
        div.fill
            div.container
                ul.nav
                input.btn.primary(type="submit", value="Signup")
                |  
                form.pull-right(method="post", id="loginForm")
                    input.input-small(id="username", type="text", name="User", placeholder="Username")
                    input.input-small(id="password", type="password", name="Password", placeholder="Password")
                    input.btn.primary(type="submit", value="Sign In")
                p#loginPrompt.pull-right.login-prompt
                h2 As coach
                br
                br
        div.fill
            div.container
                ul.nav
                input.btn.primary(type="submit", value="Signup")
                |  
                form.pull-right(method="post", id="loginForm")
                    input.input-small(id="username", type="text", name="User", placeholder="Username")
                    input.input-small(id="password", type="password", name="Password", placeholder="Password")
                    input.btn.primary(type="submit", value="Sign In")
                p#loginPrompt.pull-right.login-prompt
                h2 As Executive


