extends layout

block content
	head
		title Art of Leadership
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' href='assets/css/mainProfile.css')
		include mixins/print_goal.pug
	body.subpage
		script(src='assets/js/jquery.min.js')
		script(src='assets/js/jquery.scrollex.min.js')
		script(src='assets/js/skel.min.js')
		script(src='assets/js/util.js')
		script(src='assets/js/main.js')
		header#header
			.logo
				a(href='/') Leadership
					span  as an Artform
			span 
			a(href='#menu') Menu
		nav#menu
			ul.links
				li
					a(href='/executiveView') Home
				li
					a(href='/executiveProfile') Profile
				li
					a(href='/addGoal_executive') Goal
				li
					a(href='/coachProfile_executive') Coach
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="background-color: red; color: white !important; float:right;",type="submit").signOut_button Sign Out
		section#One.wrapper.style3
			.inner
				header.align-center
					p Art of Leadership
					h2 Home
					
		#main.container
			h2 Hello, #{user.name}!
			br
			.row(style="width:100%;")
				div(class="6u 12u$(medium)")
					h2 Messages from Coach:
					br
					div.card.text-black.bg-primary-mb-3(style=" background-color: #EEE; padding:30px; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;")
						form(method='POST' action='/executiveView')
							div.card-header 
								button.special(style="float: right" classe-"btn btn-danger" type="submit") DELETE
							div.card-body
								if user.coach_message.length == 0
									h4.text-danger(style="text-align:center") No current messages
								else
									h3 #{user.coach_message}
							input( type="hidden" name="deleteMessage" value="deleteMessage")
				div(class="6u 12u$(medium)")
					h2 Current Goals:
					div
						if user.exec_goals.length == 0
							h4.text-danger(style="text-align:center") There are no current goals
						else
							each goal in user.exec_goals
								br
								div(style=" background-color: #EEE; padding:20px; border-radius: 20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;")
									if goal.goal_progress < 100
										+print_goal(goal)
		br
		br
		br
		footer#footer
			.copyright
				| &copy; Leadership as an artform. All rights reserved.
		
	.col-lg-4
	- var today = new Date()
	- var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
	- var todayDateFormat = today.toLocaleDateString("en-US", options)
	- var alreadyMessaged = "false"
	if user.exec_goals.length != 0
		each goal in user.exec_goals
			- var goalDateFormat = goal.goal_date.toLocaleDateString("en-US", options)
			if goalDateFormat == todayDateFormat && alreadyMessaged == "false"
				- alreadyMessaged = true
				br
				.alert.alert-dismissible.alert-success
					h5.text-success(style="text-align:center") You have a new goal

