extends layout

block content
	include mixins/print_goal.pug
	nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
		a.navbar-brand(href='/') Leadership as an Artform
		div.collapse.navbar-collapse#navbarColor02
			ul.navbar-nav.ml-auto
				li
					a.nav-item.nav-link.active(href='/executiveView') Home
				li
					a.nav-link.nav-item(href='/executiveProfile') Profile
				li
					a.nav-link.nav-item(href='/coachProfile_executive') Coach's Profile
				li
					a.nav-item.nav-link(href='/addGoal_executive') Add Goal
				li
					form(method='POST' action='/')
						input(type="hidden" name="signOut" value="signOut")
						button(style="color: red" class="btn btn-sm",type="submit").signOut_button Sign Out
	div.jumbotron
		h2 Hello, #{user.name}
	div.jumbotron
		h3 Messages from coach:
		div.card.text-black.bg-primary-mb-3(style='max-wdith:20rem')
			div.card-header Delete message
			div.card-body
				p #{user.coach_message}
	div.jumbotron
		h3 Current Goals
		each goal in user.exec_goals
			+print_goal(goal)
