html
  head
    title Leadership as an Artform
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/main.css')
  body
    script
        include js/jquery.min.js
        include js/jquery.scrollex.min.js
        include js/skel.min.js
        include js/util.js
        include js/main.js
        include ../routes/index.js
    // Header
    header#header.alt
      .logo
        a(href='/') Leadership 
          span as an Artform
    
    // Banner
    section.banner.full
      article
        img(src='/stylesheets/slide01.jpg' alt='')
        .inner
          header
            p A platform for Coaches and Executives to achieve their leadership goals
            h2 Art of Leadership
      article
        img(src='/stylesheets/slide02.jpg' alt='')
        .inner
          header
            p Track progress on individual goals and access all completed milestones.
            h2 Set Goals
      article
        img(src='/stylesheets/slide03.jpg' alt='')
        .inner
          header
            p What are your aspirations for your leadership development? Let Art of Leadership guide you.
            h2 Live your Aspirations

    section#one.wrapper.style2
      .inner
        .grid-style
          div
            .box
              .image.fit
                img(src='/stylesheets/coach.jpeg' style='height: 320px' alt='')
              .content
                header.align-center
                  br
                  p Helping Others Realize Their Potential
                  h2 I'm a coach
                  
                p  This platform is a tool to help your clients achieve their goals and create meaningful behavioral change.  Coaches are vetted by a panel of experts; please contact the site administrator if you wish to be a part of this learning community.
                br
                footer.align-center
                  a.button.alt(href='coachSignInSignUp') Login / Sign Up
          div
            .box
              .image.fit
                img(src='/stylesheets/student.jpg' style='height: 320px' alt='')
              .content
                header.align-center
                  p Achieving Goals Through Scientifically-Backed Means
                  h2 I'm an executive
                p  This platform is a tool to help you achieve your specific goals.  You will be expected to log-in, assess your own performance, and actively engage in new behaviors.  While change is rarely easy, these scientifically supported methods will help you maintain your desired goals, and help you thrive!
                footer.align-center
                  a.button.alt(href='executiveSignInSignUp') Login / Sign Up
    
    // Footer
    footer#footer
      .copyright
        | &copy; Leadership as an artform. All rights reserved.
