html
  head
    title Leadership as an Artform
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/main.css')
  body
    script
        include js/jquery.min.js
        include js/jquery.scrollex.min.js
        include js/skel.min.js
        include js/util.js
        include js/main.js
        include ../routes/index.js
    // Header
    header#header.alt
      .logo
        a(href='/') Leadership 
          span as an Artform
    
    // Banner
    section.banner.full
      article
        img(src='/stylesheets/slide01.jpg' alt='')
        .inner
          header
            p A platform for Coaches and Executives to achieve their leadership goals
            h2 Art of Leadership
      article
        img(src='/stylesheets/slide02.jpg' alt='')
        .inner
          header
            p Track progress on individual goals and access all completed milestones.
            h2 Set Goals
      article
        img(src='/stylesheets/slide03.jpg' alt='')
        .inner
          header
            p What are your aspirations for your leadership development? Let Art of Leadership guide you.
            h2 Live your Aspirations

    section#one.wrapper.style2
      .inner
        .grid-style
          div
            .box
              .image.fit
                img(src='/stylesheets/coach.jpeg' style='height: 320px' alt='')
              .content
                header.align-center
                  p maecenas sapien feugiat ex purus
                  h2 I'm a coach
                p  Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
                footer.align-center
                  a.button.alt(href='coachSignInSignUp') Login / Sign Up
          div
            .box
              .image.fit
                img(src='/stylesheets/student.jpg' style='height: 320px' alt='')
              .content
                header.align-center
                  p mattis elementum sapien pretium tellus
                  h2 I'm an executive
                p  Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.
                footer.align-center
                  a.button.alt(href='executiveSignInSignUp') Login / Sign Up
    
    // Footer
    footer#footer
      .copyright
        | &copy; Leadership as an artform. All rights reserved.
