extends layout

block content
  h1= title
  p Here will be the description that Dr. Bresnahan provides us with.
  br
  br
  div.row
    div.col
    div.col-md-5.jumbotron
      div.row
        div.col-md-5
        a(class='button btn btn-primary' href='coachSignup' role='button') Sign Up
        // a(href="coachSignup")
        // input.btn.primary(type="submit", value="Signup")
        |

      div.row
        div.col-md-5
        h4.orLabel OR
        div.col-md-5
      div.row
        div.col-md-5
        h4.loginLabel LOG IN
        div.col-md-5
      div.row
        div.col-md-4
        div.form-group
          form(method="post", id="loginFormCoach")
            input.input-small(id="username", type="text", name="User", placeholder="Username")
            br
            input.input-small(id="password", type="password", name="Password", placeholder="Password")
            br
            input.btn.btn-outline-primary.btn-sm(type="submit", value="Sign In", id="submitButton")
            p#loginPrompt.pull-right.login-prompt
      h2#IndexHeader AS COACH

    div.col

    div.col-md-5.jumbotron
      div.row
        div.col-md-5
        a(class='button btn btn-primary' href='executiveSignup') Sign Up
      div.row
        div.col-md-5
        h4.orLabel OR
        div.col-md-5
      div.row
        div.col-md-5
        h4.loginLabel LOG IN
          div.col-md-5
      div.row
        div.col-md-4
        div.form-group
          form(method="post", id="loginForm")
            input.input-small(id="username", type="text", name="User", placeholder="Username")
            br
            input.input-small(id="password", type="password", name="Password", placeholder="Password")
            br
            input.btn.btn-outline-primary.btn-sm(type="submit", value="Sign In" id="submitButton")
            p#loginPrompt.pull-right.login-prompt
      h2#IndexHeader AS EXECUTIVE
    div.col
