body {
  padding: 50px;
  padding-bottom: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#submitButton{
  margin-top: 10px;
  margin-left: 30px;
}

form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}

form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}

form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;

}

#IndexHeader{
  position: absolute;
  left: 30px;
  bottom: 0px;
}

.active{
  background-color: grey;
}

#signOut{
  color: red;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.orLabel{
  float:center;
  margin-top:50px;
  align: center;

}

#submitButton{
  float:center;
  margin-left:54px;
}

#addGoalButton{
  float:center;
}

.nav a{
  font-size: 3em !important;
  color:red;
}

#noteText{
  height:400px;
  width:650px;
}
#profileImage{
  width:250px;
  height:270px;
  padding: 20px;
}

#clientImage{
  height:150px;
  width:170px;
}

#freeResponseQuestion{
  width: 800px;
  margin-left: 25px;
}

#likertQuestion{
  width: 800px;
}

#likertScaleLeftRight{
  width: 300px;
}

.client_button {
  margin-left:40px;
}

.signOut_button {
  color: red;
}

.signUp_button {
  
  background-color: grey !important;
}

.custom_modal_dialog {
  padding-left: 300px;
  padding-right: 300px;

}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.welcomeMessage{
  height: 200px;
  width: 600px;
}
.client_title {
  padding-top: 30px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.view_goal_button {
  left:100%;
  float:right;
}
