body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#submitButton{
  margin-top: 10px;
  margin-left: 30px;
}


#IndexHeader{
  margin-left: 15px;
  text-align: center;
}

.orLabel{
  float:center;
  margin-top:50px; 
  margin-left:43px;
  align: center;
  
}

#loginForm{
  margin-left:23px;
}

.loginLabel{
  margin-left:18px;
}

#submitButton{
  float:center;
  margin-left:54px;
}

#addGoalButton{
  float:center;
}

.nav a{
  font-size: 3em !important;
  color:red;
}

#profileImage{
  height: auto;
  width:250px;
  padding: 20px;
}

#clientImage{
  height:100px;
  width:120px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}
