body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#submitButton{
  margin-top: 10px;
  margin-left: 30px;
}


#IndexHeader{
  text-align: center;
}

.orLabel{
  float:center;
  margin-top:50px; 
  margin-left:40px;
  align: center;
  
}

#loginForm{
  margin-left:35px;
}

.loginLabel{
  margin-left:15px;
}

#submitButton{
  float:center;
  margin-left:30px;
}

.nav a{
  font-size: 3em !important;
  color:red;
}

#profileImage{
  height: auto;
  width:250px;
  padding: 20px;
}

#clientImage{
  height:100px;
  width:120px;
}
